<section id="experience">
    <div class="contentWrapper">
        <ul>
            <li><img src="img/mobile.png"/></li>
            <li><h3>Mobile Design</h3></li>
            <li>Platform-specific UI</li>
            <li>Touch interactions</li>
            <li></li>
        </ul>
        <ul>
            <li><img src="img/responsive.png"/></li>
            <li><h3>Responsive Design</h3></li>
            <li>Responsive Grid</li>
            <li>Content Considerations</li>
            <li>User Objectives</li>
        </ul>
        <ul>
            <li><img src="img/branding.png"/></li>
            <li><h3>Branding Design</h3></li>
            <li>Logos</li>
            <li>Icons</li>
            <li>Fidelity</li>
        </ul>
        <div class="clearfix"></div>
    </div>
</section>