<section id="ionicApp">
    <div class="contentWrapper">
        <div class="imageWrapper">
            <img src="img/iphone_omd_home.png"/>
        </div>
        <ul>
            <li><h3>Ionic/AngularJS</h3></li>
            <li><h3>Hybrid Mobile Apps</h3></li>
            <li>AngularJS MVC Development</li>
            <li>Cordova plugins &amp; ngCordova integration</li>
            <li>UI and Interaction Design</li>
            <li>1st beta release, March, 2015</li>
            <li><a href="https://itunes.apple.com/us/app/omd-ophthalmology-management/id964307650?ls=1&mt=8"><img src="img/itunes.svg"/></a><a href="https://play.google.com/store/apps/details?id=com.pentavision.omd.app.journal.articles&hl=en"><img src="img/google.png"/></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</section>