<section id="personal">
    <div class="contentWrapper">
        <ul>
            <li><i class="fa fa-spoon"></i></li>
            <li><h3>Eat</h3></li>
            <li><p>Respecting yourself means treating your body well. You only get out what you put in. I
                believe eating natural foods is important to living a healthy and succesful life.</p></li>
        </ul>
        <ul>
            <li><i class="fa fa-child"></i></li>
            <li><h3>Play</h3></li>
            <li><p>Physical activity not only keeps your body healthy, but is incredibly important for
                mental health as well. I play hard so I can work hard. I am always trying to run faster and
                further.</p></li>
        </ul>
        <ul>
            <li><i class="fa fa-paw"></i></li>
            <li><h3>Love</h3></li>
            <li><p>You have to give love to receive it. Giving to others is self rewarding. I currently give
                a lot of my time and effort into loving dogs that need homes, fostering them until they get
                a forever home.</p></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</section>