<header>
    <h1>Erik Florida<span>User Experience Designer</span></h1>
    <div id="descriptionWrapper">
        <h2 class="scrolling-item active">Interaction Designer</h2>
        <h2 class="scrolling-item">User Advocate</h2>
        <h2 class="scrolling-item">Protoyper</h2>
        <h2 class="scrolling-item">Responsive Designer</h2>
        <h2 class="scrolling-item">Creator</h2>
        <h2 class="scrolling-item">Problem Solver</h2>
    </div>
</header>