<section id="skills">
    <div class="contentWrapper">
        <div class="arrow-down"></div>
        <ul>
            <li><img src="img/research.png"/></li>
            <li><h3>Research</h3></li>
            <li>Competition</li>
            <li>Value Proposition</li>
            <li>User Profiles</li>
        </ul>
        <ul>
            <li><img src="img/ia.png"/></li>
            <li><h3>Information Architecture</h3></li>
            <li>Content Model</li>
            <li>Business Objectives</li>
            <li>User Objectives</li>
        </ul>
        <ul>
            <li><img src="img/prototypes.png"/></li>
            <li><h3>Prototypes</h3></li>
            <li>Storyboards</li>
            <li>Wire frames</li>
            <li>Fidelity</li>
        </ul>
        <div class="clearfix"></div>
    </div>
</section>