
{{> mainNav}}

<div class="content-wrap">
	<div id="homePage" class="content">

		{{> design-hero}}

		{{> design-skills}}

		{{> design-app}}

		{{> design-experience}}

		{{> design-personal}}

		{{> footer}}
	</div>
</div>